<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h3 class="text-center">Add New  Town</h3>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input v-model="townObject.town" class="form-control" id="town" name="town" placeholder="Town Name">
                            <span class="help-block">{{ townObject.town }}</span>
                        </div>
                        <button @click="saveTown" class="btn btn-primary">Save</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        created(){

        },
        data(){
            return{
                towns:[],
                townObject:{
                    town:''
                },
            }
        },
        methods:{

            saveTown(){
                let url = "http://localhost/sgr/public/api/towns/store";
                this.$http.post(url,this.townObject)
                    .then(response => {
                        this.townObject = "";
                    });
            },
        }
    }
</script>
<style>

</style>