<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h3>Towns
                <router-link to="towns/create" class="pull-right">Create New</router-link>
                </h3>
            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Towns</div>
               <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="town in towns">
                        <td>{{ town.id }}</td>
                        <td>{{ town.name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    created(){
      this.getData();
    },
    data(){
        return{
            towns:[],
           townObject:{
               name:''
           },
        }
    },
    methods:{
        getData(){
            let url = "http://localhost/sgr/public/api/towns";
            this.$http.get(url)
                .then(response => {
                    this.towns = response.body;
                });
        },
        saveTown(){

        },
    }
}
</script>
<style>

</style>