<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h3 class="text-center">Add New  Department</h3>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input v-model="departmentObject.name" class="form-control" id="name" placeholder="Department Name">
                        </div>
                        <button @click="saveDepartment" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                departmentObject:{
                    name:'',
                }
            }
        },
        methods:{
            saveDepartment(){
                let url = "http://localhost/sgr/public/api/departments/store";
                this.$http.post(url,this.departmentObject).then((response)=>{
                    this.departmentObject = "";
                    console.log(response);
                });
            }
        },
    }
</script>
<style>

</style>