<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h3>
                    Departments
                <router-link to="/departments/create" class="pull-right">Create New</router-link>
                </h3>
            </div>

            <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                   <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="department in departments">
                        <td>{{ department.id }}</td>
                        <td>{{ department.name }}</td>
                        <td><router-link to="">Edit</router-link></td>
                        <td><router-link to="">Delete</router-link></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        created() {
            this.getDepartments();
        },
        data() {
            return {
                departments: []
            }
        },
        methods: {
            getDepartments() {
                let url = "http://localhost/sgr/public/api/departments";
                this.$http.get(url)
                    .then(response => {
                        this.departments = response.body;
                    });
            }
        }
    }
</script>
<style></style>