<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h4 class="text-center">Add New  Employee</h4>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input v-model="employeeObject.name" class="form-control" id="name" name="name" placeholder="Name">
                            </div>

                            <div class="form-group">
                                <label for="national_id">National id</label>
                                <input v-model="employeeObject.national_id" class="form-control" id="national_id" name="national_id" placeholder="national id">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input v-model="employeeObject.email" class="form-control" id="email" name="email" placeholder="email">
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="contacts">Contacts</label>
                                <input v-model="employeeObject.contacts" class="form-control" id="contacts" name="contacts" placeholder="contacts">
                            </div>

                            <div class="form-group">
                                <label for="department">Department</label>
                                <select v-model="employeeObject.department" name="department" id="department" class="form-control">
                                    <option v-for="department in departments" v-bind:value="department.id">{{ department.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button @click="saveEmployee" class="btn btn-primary">Save</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    created(){
      this.getDepartments();
    },
    data(){
        return{
            departments:[],
            employeeObject:{
                name:'',
                national_id:'',
                email:'',
                contacts:'+254',
                department:null,
            }
        }
    },
    methods:{
        saveEmployee(){
            let url = "http://localhost/sgr/public/api/employee/store";
            this.$http.post(url,this.employeeObject).then((response)=>{
                this.employeeObject = "";
                console.log(response);
            });
        },
        getDepartments() {
            let url = "http://localhost/sgr/public/api/departments";
            this.$http.get(url)
                .then(response => {
                    this.departments = response.body;
                });
        }
    },

}
</script>
<style>

</style>