<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h3>
                    Employees
                <router-link to="employees/create" class="pull-right">Create new</router-link>
                </h3>
            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Fleet</div>
                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>National id</th>
                        <th>Email</th>
                        <th>Departments</th>
                        <th colspan="2" align="center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="employee in employees">
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.national_id }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.department.name }}</td>
                        <td><router-link to="">Edit</router-link></td>
                        <td><router-link to="">delete</router-link></td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</template>
<script>
    export default {
        created() {
            this.getEmployees();
        },
        data() {
            return {
                employees: []
            }
        },
        methods: {
            getEmployees() {
                let url = "http://localhost/sgr/public/api/employees";
                this.$http.get(url)
                    .then(response => {
                        this.employees = response.body;
                    });
            }
        }
    }
</script>
<style>

</style>