<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h1>Bookings</h1>
            </div>
        </div>
    </div>
</template>
<script>

</script>
<style>

</style>