<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h1>Schedules</h1>
            </div>

            <div class="form-group">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input  class="form-control" />
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
<style>

</style>