<template>
    <div class="row">
        <spinner v-if="loading" style="position: absolute;
  z-index: 15;
  top: 50%;
  left:67%;
  margin: 100px 0 0 -150px;"></spinner>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th colspan="2" align="center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="admin in admins">
                <td>{{ admin.id }}</td>
                <td>
                    <router-link to="users">{{ admin.name }}</router-link>
                </td>
                <td>
                    <button @click="deleteAdmin(admin)" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>
                <td>
                    <router-link :to=" '/users/'+admin.id+'/edit' " class="btn btn-warning">Edit</router-link>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    import swal from 'sweetalert';
    import confirm from 'jquery-confirm';
    import Loader from '../libs/DoubleBounce.vue';

    export default {

        components: {
            'spinner': Loader,
        },
        data() {
            return {
                user: '',
                gender: 0,
                admins: [],
                submitted: false,
                loading: false,
            }
        },
        mounted() {
            this.getAdmins();
        },
        methods: {
            createNew() {
                this.submitted = true;
                this.getAdmins();
                let data = {
                    name: this.user,
                    gender: this.gender,
                };
                this.$http.post('create/admin', data)
                    .then(response => {

                    });


            },
            deleteAdmin(admin) {
                swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this file!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false,
                        animation: 'slide-from-bottom',
                        allowOutsideClick: true,
                    },
                    function () {
                        let url = 'admin/delete/' + admin.id;
                        this.$http.delete(url).then(() => {
                            let index = this.admins.indexOf(admin);
                            this.admins.splice(index, 1);
                        });
                        swal("Deleted!", "Your file has been deleted.", "success");
                    }.bind(this));


            },
            getAdmins() {
                this.loading = true;
                this.$http.get('admins')
                    .then(response => {
                        this.loading = false;
                        this.admins = response.body;
                    });
            }
        }
    }
</script>