<template>
    <div class="">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Book Train</h3>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="from_town">From</label>
                        <select class="form-control" name="from_town" id="from_town">
                            <option value="1">Nairobi</option>
                            <option value="2">Mombasa</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="to_town">To</label>
                        <select class="form-control" name="to_town" id="to_town">
                            <option value="1">Nairobi</option>
                            <option value="2">Mombasa</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="number_of_people">Number of people</label>
                        <input min="1" type="number" name="number_of_people" id="number_of_people" class="form-control">
                    </div>

                    <button class="btn btn-primary">Save</button>


                </div>
            </div>
        </div>
    </div>
</template>
<script>

</script>
<style>

</style>