<template>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-4 col-lg-offset-4">
            <div class="page-header">
                <h3>Create A new User</h3>
                <spinner v-if="loading"></spinner>
            </div>
            <!--this will be displayed upon successful submission of form-->


            <div class="form-group">
                <label for="user">Admin Name</label>
                <input
                        v-validate="'required'"
                        v-model="user"
                        :class="{'input': true, 'is-danger': errors.has('name') }"
                        class="form-control" name="user" id="user" placeholder="name">
                <span v-show="errors.has('user')" class="help is-danger">{{ errors.first('user') }}</span>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select v-validate="'required|integer'" class="form-control animated fadeIn" id="gender" name="gender" v-model="gender">
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
                <span v-show="errors.has('gender')" class="help is-danger">{{ errors.first('gender') }}</span>
            </div>
            <button @click="createNew" type="button" class="btn btn-success animated fadeIn">
                Create New User
            </button>
        </div>

    </div>
</template>
<script>
    import Admin from '../components/Admins.vue';
    import Loader from '../libs/CubeShadow.vue';

    export default {
        components: {
            'admin-users': Admin,
            'spinner': Loader,
        },
        data() {
            return {
                user: '',
                gender: 1,
                admins: [],
                submitted: false,
                loading: false,
            }
        }, beforeUpdate() {
        }, created() {

        }, methods: {
            createNew() {
                this.loading = true;
                this.$validator.validateAll().then(()=>{
                    this.submitted = true;
                    let data = {name: this.user, gender: this.gender};
                    this.$http.post('create/admin', data).then(response => {
                    });
                    this.clearInputs();
                    this.$router.push('users');
                    this.loading = false;
                });

            },
            clearInputs() {
                this.user = ''
                this.gender = 0
            },
        }
    }

</script>
<style>

</style>