<template>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-4 col-lg-offset-4">
            <div class="page-header">
                <h3>Create A new User</h3>
                <spinner v-if="loading"></spinner>
            </div>
            <!--this will be displayed upon successful submission of form-->


            <div class="form-group">
                <label for="name">Admin Name</label>
                <input
                        v-validate="'required'"
                        v-model="userObject.name"
                        :class="{'input': true, 'is-danger': errors.has('name') }"
                        class="form-control" name="name" id="name" placeholder="name">
                <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select v-validate="'required|integer'" class="form-control animated fadeIn" id="gender" name="gender"
                        v-model="userObject.gender">
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
                <span v-show="errors.has('gender')" class="help is-danger">{{ errors.first('gender') }}</span>
            </div>
            <button @click="createNew" type="button" class="btn btn-success animated fadeIn">
                Update
            </button>
            <button @click="back" class="btn btn-info">back</button>
        </div>

    </div>
</template>
<script>
    import Admin from '../components/Admins.vue';
    import Loader from '../libs/CubeShadow.vue';

    export default {
        components: {
            'admin-users': Admin,
            'spinner': Loader,
        },
        data() {
            return {
                userObject: {
                    name: '',
                    gender: '',
                },
                admins: [],
                submitted: false,
                loading: false,
            }
        }, beforeUpdate() {
        }, created() {
            this.getProduct();
        }, methods: {
            getProduct() {
                this.$http.get('user/' + this.$route.params.user).then((response) => {
                    this.userObject = response.body;
//                  console.log(response.body);
                });
            },
            back() {
                this.$router.go(-1);
            },
            createNew() {
                this.loading = true;
                this.$validator.validateAll().then(() => {
                    this.submitted = true;
                    let data = {name: this.userObject.name, gender: this.userObject.gender};
                    this.$http.put('update/admin/' + this.$route.params.user, data).then(response => {
                                console.log(response);
                    });
                    this.clearInputs();
                    this.back();
                    this.loading = false;
                });

            },
            clearInputs() {
                this.user = '';
                this.gender = 0;
            },
        }
    }

</script>
<style>

</style>