<template>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="page-header">
                <h3>Vue Js
                    <small>front End  technology</small>
                </h3>
                <img src="../assets/images/vue.js.png" alt=""  class="img-responsive">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="page-header">
                <h3 class="text-center text-muted">How <a href="https://laravel.com/" target="_blank">Laravel</a> and <a href="https://vuejs.org/" target="_blank">Vue Js</a> Works</h3>
            </div>
            <p class="text-center">
                <a href="https://vuejs.org/" target="_blank">Vue js</a> is a front end technology for building reusable web components on the other hand
                <a href="https://laravel.com/" target="_blank">laravel</a> is a backend technology
                for doing the server queries
            </p>

            <div class="page-header">
                <h3 class="text-center text-muted">Communication</h3>
            </div>
            <p class="text-center">
                For laravel and vue js to communicate there is need for authentication. basically laravel exposes an api to the
                vue application. However the vue app has to get a verification access token form laravel. This is to verify that the app is allowed
                to get data from the laravel.
                Laravel uses <a href="https://laravel.com/docs/5.4/passport" target="_blank">passport</a> as the verification tool.
            </p>
            <img src="../assets/images/shake.png" style="height: 250px;margin: 0 auto;" alt=""  class="img-responsive">

        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="page-header">
                <h3>Laravel
                    <small class="">Back End technology</small>
                </h3>
                <img src="../assets/images/laravel-logo.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                events:[],
                property: 'Blank'
            }
        },

        created() {
            this.property = 'Example property update.';
            console.log('propertyComputed will update, as this.property is now reactive.')
        }
    }
</script>
<style>
    a{
        color: #ff5f3c;
    }
    a:focus{
        color: #ff5f3c;
    }
    a:hover{
        color: #1abc9c;
    }
</style>