<template>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input :value="msg" class="form-control" name="" id="name" @input="messageChanged"/>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['msg'],
    data(){
        return{
            message:'message'
        }
    },
    methods:{
        messageChanged(event){
            this.message = event.target.value;
            this.$emit('messageChanged',this.message);
        }
    }
}
</script>
<style>

</style>