<template>
    <div id="app">
        <cube-shadow></cube-shadow>
    </div>
</template>

<script>
    import CubeShadow from '../libs/Circle.vue'
    export default {
        components: {
            CubeShadow
        }
    }
</script>