<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-lg-offset-4" style="padding-top: 50px;">
                <spinner v-if="loading" style="position: absolute;
  z-index: 15;
  top: 90%;
  left:67%;
  margin: 190px 0 0 -150px;"></spinner>
                <div class="panel panel-success animated fadeIn" v-if="!loading">
                    <div class="panel-heading">
                        <h3>Login</h3>
                    </div>

                    <div class="panel-body">
                        <form @submit.prevent="create">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input v-model="email" type="text" class="form-control" name="username" id="username"
                                       placeholder="Email">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input v-model="password" type="password" class="form-control" name="password"
                                       id="password"
                                       placeholder="password">
                            </div>
                            <button @click="login" type="button"
                                    class="btn btn-primary">Sign in
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import swal from 'sweetalert';
    import Loader from '../libs/ThreeDots.vue';

    export default {

        components: {
            'spinner': Loader,
        },
        data() {
            return {
                email: '',
                password: '',
                loading: false,
            }
        },
        methods: {
            login() {
                this.loading = true;
                let data = {
                    client_id: 2,
                    client_secret: 'bFZZlzb3xcrNAsGG6vKqqnrYzZtFtfHc8qaY4fmo',
                    grant_type: 'password',
                    username: this.email,
                    password: this.password
                };
                let url = 'http://localhost/muhoho/public/oauth/token';
                this.$http.post(url, data).then(function (response) {
                    this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now());
                    this.$auth.setAuthenticatedUser(response.body.access_token, response.body.expires_in + Date.now());
                    this.loading = false;
                    window.location = ("dashboard");
                },function () {
                    this.loading = false;
                });


            }
        }
    }
</script>

<style>

</style>