<template>
        <div class="row">
                <div class="page-header">
                        <h3>{{ message }}</h3>
                </div>
                <input-text :msg="message" @messageChanged="message = $event"></input-text>
        </div>
</template>
<script>
import Input from '../components/Input.vue';
import InputText from "./Input.vue";
export default {
    components:{
        InputText,
        'input-text':Input
    },
    data(){
        return{
            message:'Message from The message component',
        }
    }
}
</script>
<style>

</style>