<template>
    <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 80px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SGR BOOKING SYSTEM</a>
            </div>



            <ul class="nav navbar-nav">
                <router-link tag="li" to="/" v-if="!isAuth"><a>Home</a></router-link>
                <!--<router-link tag="li" to="book" v-if="!isAuth"><a>Book a Train</a></router-link>-->


                <router-link tag="li" to="/dashboard" v-if="isAuth"><a>Dashboard</a></router-link>
                <router-link tag="li" to="/fleet" v-if="isAuth"><a>Fleet</a></router-link>
                <router-link tag="li" to="/departments" v-if="isAuth"><a>Departments</a></router-link>
                <router-link tag="li" to="/employees" v-if="isAuth"><a>Employees</a></router-link>
                <router-link tag="li" to="/towns" v-if="isAuth"><a>Towns</a></router-link>

                <router-link tag="li" to="/schedules" v-if="isAuth"><a>Schedules</a></router-link>
                <router-link tag="li" to="/bookings" v-if="isAuth"><a>Bookings</a></router-link>
                <!--<router-link tag="li" to="/reports" v-if="isAuth"><a>Reports</a></router-link>-->
                <!--<router-link tag="li" to="/create" v-if="isAuth"><a>Create New</a></router-link>-->
                <!--<router-link tag="li" to="/users" v-if="isAuth"><a>Users Component</a></router-link>-->
                <!--<router-link tag="li" to="/how-it-works" v-if="isAuth"><a>How it works</a></router-link>-->
            </ul>

            <ul class="nav navbar-nav pull-right">
                <!--<router-link tag="li" to="/profile" v-if="isAuth" class=""><a>Profile</a></router-link>-->
                <router-link tag="li" to="/emits" v-if="isAuth" class=""><a>Actions</a></router-link>
                <router-link tag="li" to="/logout" v-if="isAuth" class=""><a>Logout</a></router-link>
                <!--<router-link tag="li" to="/register" v-if="!isAuth"><a>Register</a></router-link>-->
                <router-link tag="li" to="/login" v-if="!isAuth"><a>Login</a></router-link>
            </ul>
        </div>
    </nav>

</template>

<script>
    export default {
        data() {

            return {
                isAuth: null,
                authUser: 'Muhoho',
            }
        },
        created() {
            this.isAuth = this.$auth.isAuthenticated();
            this.setAuthenticatedUser();
        },
        beforeMount() {

        },
        methods: {
            setAuthenticatedUser() {
                this.$http.get('get/user').then(res => {
                    this.$auth.setAuthenticatedUser(res.body);
                    console.log(this.$auth.getAuthenticatedUser());
                });
            }
        }
    }
</script>


<style>

</style>