<template>
    <div>
        <div class="page-header">
            <h1>Users In the Database</h1>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" @delete-admin="deleteAdmin">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>


<script>
    import swal from 'sweetalert';
    export default{
        data(){
            return{
                users:[],
            }
        },
        created(){
            let url = "users";
            this.$http.get(url).then(response=>{
                this.users = response.body;
            });
        },
        beforeMount(){
//            alert("beforeMount");
        },
        methods: {
            deleteAdmin(id) {
                swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this imaginary file!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                    function () {
                        let data = {
                            'admin': id
                        };
                        this.$http.delete('admin/delete/' + data.admin).then(res => {
                            console.log(res);
                        });
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                    }.bind(this));
            }
        }
    }
</script>