<template>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5 col-lg-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Register</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input v-model="registrationData.name" type="text" class="form-control" name="name" id="name" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input v-model="registrationData.email" type="email" class="form-control" name="email" id="email"
                           placeholder="email address">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input v-model="registrationData.password" type="password" class="form-control" name="password" id="password"
                           placeholder="password">
                </div>
                <button type="button" @click="registerUser" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                registrationData:{
                    name: '',
                    email: '',
                    password: '',
                }
            }
        },
        methods:{
            registerUser(){
                console.log(this.registrationData);
            }
        }
    }
</script>
<style></style>