<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h1>Reports
                    <small>Admin Reports</small>
                </h1>
            </div>
            <admin-users></admin-users>
        </div>
    </div>
</template>
<script>
import Admin from '../components/Admins.vue';
export default {
    components:{
        'admin-users':Admin,
    }
}
</script>
<style>

</style>