<template>
    <div class="row">
        <h1>Jeremy</h1>
        <admin-users></admin-users>
    </div>
</template>
<script>
    import Admin from '../components/Admins.vue';
    export default {
        components: {
            'admin-users': Admin,
        },
    }
</script>
<style>

</style>