<template>
  <div class="container" id="app">
    <navbar></navbar>
    <router-view></router-view>


  </div>
</template>
<script>
  import Navbar from './components/Navbar.vue';
  import Home from './components/Home.vue';

export default {
  components:{
      'navbar':Navbar,
      'home-view':Home,
  }
}
</script>
<style >
</style>
