<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h3 class="text-center">Add New Fleet</h3>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                           <label for="reg_number">Registration Number</label>
                           <input v-model="fleetObject.reg_number" class="form-control" id="reg_number" name="reg_number" placeholder="Reg Number">
                       </div>

                        <div class="form-group">
                            <label for="capacity">Train capacity</label>
                            <input v-model="fleetObject.capacity" type="number" min="50" class="form-control" id="capacity" name="capacity" placeholder="capacity">
                        </div>

                        <button @click="addToFleet" class="btn btn-primary">Save</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            fleetObject:{
                reg_number:'',
                capacity:100,
            }
        }
    },
    methods:{
        addToFleet(){
            let url = "http://localhost/sgr/public/api/fleet/store";
            this.$http.post(url,this.fleetObject).then((response)=>{
                this.fleetObject = "";
                console.log(response);
            });
        }
    },
    created(){

    }
}
</script>
<style>

</style>