<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
                <h3>Fleet
                    <router-link to="fleet/create" class="pull-right">Create New</router-link>
                </h3>
            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Fleet</div>
                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Reg Number</th>
                            <th>Capacity</th>
                            <th colspan="2" align="center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="fleet in fleets">
                            <td>{{ fleet.id }}</td>
                            <td>{{ fleet.reg_number }}</td>
                            <td>{{ fleet.capacity }}</td>
                            <td><router-link to="">Edit</router-link></td>
                            <td><router-link to="">delete</router-link></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        created() {
            this.getData();
        },
        data() {
            return {
                fleets: []
            }
        },
        methods: {
            getData() {
                let url = "http://localhost/sgr/public/api/fleet";
                this.$http.get(url)
                    .then(response => {
                        this.fleets = response.body;
                    });
            }
        }
    }
</script>
<style>

</style>